<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">

	<flow name="springhibernateexFlow">
		<quartz:inbound-endpoint jobName="QuartzScheduler" cronExpression="0 0/10 * * * ?" repeatInterval="0"
			responseTimeout="10000" doc:name="Quartz">
			<quartz:event-generator-job>
				<quartz:payload>Scheduling Job</quartz:payload>
			</quartz:event-generator-job>
		</quartz:inbound-endpoint>
		<logger message="Before invoking" level="INFO" doc:name="Logger" />
		<invoke object-ref="myScheduler" method="processData" doc:name="SchedulerInvoke" />
		<logger message="After invoking" level="INFO" doc:name="Logger" />
	</flow>
</mule>
